body {
  margin: 0 0 0 0;
}

#land {
  background-image: url(hills.svg);
  margin: 0 0 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  /*
  background-position: 0%;
  */
}

#grass {
  background-image: url(grass.svg);
  background-size: 100%;
  margin: 0 0 0 0;
  padding: 100px 0 0 0;
  background-repeat: no-repeat;
  /*
  background-position: 0%;
  width: 100%;
  height: 100%;
  */
}

#logo {
  background-image: url(logo.svg);
  background-size: 100%;
  background-position: 0%;
  background-repeat: no-repeat;
  width: 30%;
  height: 30%;
  position: relative;
  margin: 0 auto;
}

#text {
  font-family: 'Vegur Regular';
  font-size: 1.1rem;
  color: #DDD;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

#moregrass {
  background-color: #476a10;
  margin: 0 0 0 0;
}
